@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    padding: 5%;
    transition: 0.5s;
}

#mode {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #fff;
    border-radius: 50%;

}

header {
    // padding: 100px;
    .header__content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .header__photo {
        width: 250px;
        height: 225px;
        background-color: black;
    img {
        width: 250px;
        height: 225px;
    }
    }

    .header__text {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        span {
            color: #474747;
        }
        p {
            font-weight: 400;
            font-size: 18px;
            color: #474747;
        }
    }
}

.career {
    margin-top: 50px;
    .career__title {
        color: #474747;
    }
    .career__line__gray {
        color: #9B9B9B;
    }
    .career__line_wrapper {
        height: 15px;
        position: relative;
        margin: 15px 0;
        align-items: center;
        .career__line__item {
            width: 90%;
            height: 1px;
            background: #000;
            position: absolute;
            top: 50%;
        }
        .career__circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #1AC840;
            position: absolute;
            left: 0%;
            top: 20%;
        }


    }

    .career__gray {
        color: #9B9B9B;
        
    }

    .skills {
        margin-top: 50px;
        display: flex;
        // gap: 200px;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        .skills__item {
            min-width: 140px;
            .skills__title {
                font-size: 22px;
                color: #474747;
                letter-spacing: 2px;
            }
            .skills__list {
                list-style: none;
            }
        }
    }

    .portfolio {
        margin-top: 50px;
    }

    .contacts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        .contact__gray {
            color: #9B9B9B;
        }
    }

}

@media screen and (max-width: 800px) {
    header {

        .header__content {
            row-gap: 30px;
            .header__text {
                width: unset;
            }
        }
    }
    // .career {

    //     .skills {
    //         gap: 100px;
    //     }
    // }
}